---
version: "3"

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "{{ rocketchat_mtu }}"

services:
  database:
    container_name: "rocketchat-database"
    image: "{{ _rocketchat_database_docker_image }}"
    restart: "always"
    volumes:
      - "{{ _rocketchat_database_directory }}:/data/db:Z"
      - "{{ _rocketchat_database_dump_directory }}:/dump:Z"
    command: "mongod --smallfiles --oplogSize 128 --replSet rs0"

  database-init-replica:
    image: "{{ _rocketchat_database_docker_image }}"
    command: 'mongo database/rocketchat --eval "rs.initiate({ _id: ''rs0'', members: [ { _id: 0, host: ''localhost:27017'' } ]})"'
    depends_on:
      - database

  rocketchat:
    container_name: "rocketchat"
    image: "{{ _rocketchat_docker_image }}"
    restart: "always"
    depends_on:
      - "database"
    ports:
      - "{{ rocketchat_port }}:3000"
    volumes:
      - "{{ _rocketchat_private_data_directory }}:/app/uploads:Z"
    environment:
      PORT: "3000"
      ROOT_URL: "{{ _rocketchat_url }}"
      MONGO_URL: "mongodb://database:27017/rocketchat"
      MONGO_OPLOG_URL: "mongodb://database:27017/local"
{% if rocketchat_admin_user is defined or rocketchat_admin_password is defined or rocketchat_admin_mail is defined %}
      ADMIN_USERNAME: "{{ rocketchat_admin_user }}"
      ADMIN_PASS: "{{ rocketchat_admin_password }}"
      ADMIN_EMAIL: "{{ rocketchat_admin_mail }}"
{% endif %}

{% if rocketchat_use_bot %}
  rocketbot:
    container_name: "rocketbot"
    image: "{{ _rocketchat_bot_docker_image }}"
    restart: "always"
    depends_on:
      - "rocketchat"
    ports:
      - "3001:8080"
    volumes:
      - "{{ _rocketchat_custom_scripts_directory }}:/home/hubot/scripts:Z"
    environment:
      ROCKETCHAT_URL: "rocketchat:3000"
      ROCKETCHAT_ROOM: "{{ '' if rocketchat_bot_listen_on_all_public else rocketchat_bot_room }}"
      LISTEN_ON_ALL_PUBLIC: "{{ rocketchat_bot_listen_on_all_public }}"
      ROCKETCHAT_USER: "{{ rocketchat_bot_name }}"
      ROCKETCHAT_PASSWORD: "{{ rocketchat_bot_password }}"
      BOT_NAME: "bot"
      EXTERNAL_SCRIPTS: "{{ rocketchat_bot_external_scripts | join(",") }}"
{% for _key, _value in rocketchat_bot_environment_variables.items() %}
      {{ _key }}: "{{ _value }}"
{% endfor %}
{% endif %}
