#!/bin/bash
set -o errexit

iptables_stub(){
  iptables --wait 60 "$@"
}

iptables_stub \
  --table mangle \
  --list-rules {{ service_name }} \
&>/dev/null \
|| \
iptables_stub \
  --table mangle \
  --new-chain {{ service_name }}

iptables_ensure(){
  table="$1"
  chain="$2"
  action="$3"
  shift 3

  iptables_stub \
    --table "${table}" \
    --check "${chain}" "$@" \
  &>/dev/null \
  || \
  iptables_stub \
    --table "${table}" \
    --${action} "${chain}" \
      "$@"
}

iptables_ensure mangle PREROUTING append --jump {{ service_name }}

{% for port_filter in docker_service_port_filters %}
  {%- set _docker_filter_ipset_name_by_port_filter -%}
    {{ service_name }}{{ (port_filter.protocol | default('tcp'))[0] | upper }}{{ port_filter.external_port }}
  {%- endset -%}
ipset restore <<- EndOfFile
  create {{ _docker_filter_ipset_name_by_port_filter }} hash:net --exist
  flush {{ _docker_filter_ipset_name_by_port_filter }}
  {% for subnet in port_filter.allowed_subnets -%}
      add {{ _docker_filter_ipset_name_by_port_filter }} {{ subnet }}
  {% endfor %}

EndOfFile

iptables_ensure \
  mangle \
  {{ service_name }} \
  append \
    --protocol {{ port_filter.protocol | default('tcp') }} \
    --destination-port {{ port_filter.external_port }} \
    --match set \
      ! --match-set {{ _docker_filter_ipset_name_by_port_filter }} src \
    --jump MARK \
      --set-mark 7
{% endfor %}

# Add drop to DOCKER-USER if not exist
iptables_ensure \
  filter \
  DOCKER-USER \
  insert \
    ! --in-interface docker0 \
    --out-interface docker0 \
    --match mark \
      --mark 7 \
    --jump DROP

iptables_ensure \
  filter \
  DOCKER-USER \
  insert \
    ! --in-interface br-+ \
    --out-interface br-+ \
    --match mark \
      --mark 7 \
    --jump DROP

iptables_ensure \
  filter \
  DOCKER-USER \
  insert \
    --in-interface docker0 \
    --out-interface br-+ \
    --jump ACCEPT

iptables_ensure \
  filter \
  DOCKER-USER \
  insert \
    --in-interface br-+ \
    --out-interface docker0 \
    --jump ACCEPT
