#!/bin/bash
iptables --table mangle --flush {{ service_name }}
iptables --table mangle --delete PREROUTING --jump {{ service_name }}
iptables --table mangle --delete-chain {{ service_name }}

ipset list -name | grep --extended-regexp "^{{ service_name }}[TU][0-9]{1,5}$" | xargs --max-args=1 ipset destroy
