[Unit]
Description={{ service_description }}
{% if service_requirements  %}
Requires={{ service_requirements | join(' ') }}
{% endif %}
{% if service_order_after %}
After={{ service_order_after | join(' ') }}
{% endif %}
{% if service_part_of %}
PartOf={{ service_part_of | join(' ') }}
{% endif %}
{% for _key, _value in (service_additional_options.unit | default({})).items() %}
{{ _key }}={{ _value }}
{% endfor %}

[Service]
Type={{ service_type }}
Restart={{ service_restart_policy }}
TimeoutSec={{ service_wait_timeout }}
{% if service_environment_file is defined %}
EnvironmentFile={{ service_environment_file }}
{% endif %}
{% for _pre_start_command in service_pre_start_commands %}
ExecStartPre={%if _pre_start_command.can_fail | default('no') | bool %}-{% endif %}{{ _pre_start_command.command | default(_pre_start_command) }}
{% endfor %}
ExecStart={{ service_start_command }}
ExecStop={% if service_stop_command_can_fail %}-{% endif %}{{ service_stop_command }}
{% for _key, _value in ( service_additional_options.service | default({})).items() %}
{{ _key }}={{ _value }}
{% endfor %}
{% for _key, _value in service_environment_variables.items() %}
Environment={{ _key }}={{ _value }}
{% endfor %}

[Install]
WantedBy=multi-user.target
{% for _key, _value in (service_additional_options.install | default({})).items() %}
{{ _key }}={{ _value }}
{% endfor %}
